h3 { 
    font-family: CocoGothic;
    font-size: 50px;
    font-weight: 300;
    color: #eeeeee;
}

li {
    list-style-type: none;
    font-family: CocoGothic;
    color: #BDBDBD;
    font-size: 25px;
    font-weight: 300;
    margin-top: 5vh;
  }

.vetor-melao-2 { 

margin-left: 10vw;

}

.vetor-melao-1 { 

   position: absolute;
   margin-left:-2vw;
   margin-top: 1vh;
    
    }

.melao-divison { 
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 10vh;
  
}

.melao-text { 
    background: linear-gradient(-45deg, #312e31 0%, #E0E0E0 100%);
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 25px;
}

.melao-header { 
    background: linear-gradient(-45deg, #312e31 0%, #E0E0E0 100%);
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 65px;
      
}


.melao-body { 
    display: flex;
    flex-direction: row;
   align-items: center;
   margin-top:15vh;
}

.melao-tecnologia { 
    
    margin-left:5vw;
}

.melao-experiencia { 

    margin-left: 10vw;
}



.button1 {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 50px;
    position:absolute;
    margin-left:85vw;
    
    font-family: CocoGothic;
    font-size: 18px;
    font-weight: 300;
    color:#E0E0E0;
    text-align: center;
    border-radius: 25px;
    box-shadow: -10px -10px 10px  #141314 ,
    10px 10px 10px  #0c0c0c ;
    transition: box-shadow 2s ease-in-out;
    cursor:pointer;
    transform: rotate(270deg); 
    
  } 
  
  
  .button1:hover { 
    box-shadow: -10px -10px 10px  #141314 inset ,
    10px 10px 10px  #0c0c0c inset;
  
  }
