.App {
    width:100vw;
    height:100vh;
    display:flex;
    top:0;
    max-height: 100%;
    align-items: center;

}

.circle {
	position: absolute;
  cursor:none;
 top: -12.5px;
  left: -12.5px;
  background: rgba(61, 10, 112, 0.589216);
  width: 25px;
  z-index: 999;
  height: 25px;
  border: 0px solid #fff;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 25px 20px rgba(61, 10, 112, 0.639216);
}
