@font-face {
  font-family: "CocoGothic";
  src: local("CocoGothic"),
    url(./fonts/CocoGothic-Light_trial.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background: #100f10;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

span {
  font-family: CocoGothic;
  font-size: 75px;
}

h4 {
  font-family: CocoGothic;
  font-size: 20px;
  font-weight: 300;
}
